.main-content{
    top:150px;
    left:100px;
    position:relative;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:400px;
    
}
.profile{
    width:10%;
}
/* titles */
.titles h1{
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: normal;
    font-size:45px;

}
.titles p{
    color:#959595;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: normal;

}
/* mail */
.mail{
    display:flex;
    justify-content: center;
    position:relative;
    width:300px;
    height:60px;
    background-color:#9D9D9D;
    box-shadow: 0 1px 10px;
    border-radius:10px;
    left:100px;
    top:160px;
    cursor: pointer;
    text-align: center;
    
}
.mail h1{
    position:static;
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: normal;
    font-size:20px;

}
/*  */
.featured{
    display:flex;
    align-items:center;
    cursor: pointer;
    position:relative;
    top:250px;
    left:100px;
}
.featured-f{
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    color:#DEDEDE;
    font-weight: normal;
}
/* f-container */
.featured-container{
    position:relative;
    width: 100%;
    padding-bottom:100px;
}
/* photos */
.first{
    position:relative;
    width:662px;
    height:938px;
    left:100px;
    top:400px;
    border-radius:10px;
}
.second{
    position:relative;
    width:662px;
    height:938px;
    right:565px;
    top:1370px;
    border-radius: 10px;
}
.third{
    position:relative;
    width:662px;
    height:938px;
    border-radius: 10px;
    left:795px;
    bottom:400px;
}
.fourth{
    position:relative;
    width:662px;
    height:938px;
    border-radius: 10px;
    top:570px;
    left:130px;
}
/* explore title */
.explore{
    top:700px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.explore h3{
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size:40px;
}
/* photo-grid */
.photo-grid{
    display:grid;
    justify-content:center;
    align-items:center;
    position:relative;
    gap:15px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    left:20px;
}
.things{
    width: 100%;
}
.things-container{
    position:relative;
    justify-content:center;
    top:800px;
}
/* p */
.personal{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size:40px;
    top:1000px;
}
/* project */
.project-grid{
    display:grid;
    justify-content:center;
    align-items:center;
    position:relative;
    gap:25px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.p-container{
    position: relative;
    align-items:center;
    justify-content:center;
    top:1000px;
}
/* prefooter */
.sec-mail{
    position:relative;
    width:300px;
    height:60px;
    background-color:#9D9D9D;
    box-shadow: 0 1px 10px;
    border-radius:10px;
    top:50px;
    left:100px;
    cursor: pointer;
}
.sec-mail h1{
    position:static;
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: normal;
    font-size:20px;
    
}
.prefooter{
    position:relative;
    justify-content:center;
    align-items:center;
    top:600px;
    width:500px;
    grid-template-columns: 1fr;
    left:34%;
    text-align: center;
}
.prefooter h2{
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    position:relative;
    font-size:36px;
 

}
.prefooter p{
    color:#959595;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    position:relative;
    top:10px;
    font-size:24px;
}
/* footer */
footer{
    display:flex;
    text-align:center;
    align-items:center;
    position:relative;
    background-color:#202020;
    border-top:1px solid #696969;
    top:800px;
    height:100px;
    padding-left:70px;
    padding-right:70px;
}

.made-by{
    color:#959595;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.made-by span{
    color:white;
}
.footer-icons{
    position: relative;
    color:#696969;
    font-size:25px;
    gap:30px;
    left:800px;
    cursor: pointer;
}
footer a{
    position: relative;
    left:100px;
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    text-decoration: none;
}