body{
    margin:0;
    background-color:#202020;
} 
header{
    top:0;
    position:fixed;
    align-items:center;
    background-color:#242424;
    width:1519px;
    height:80px;
    box-shadow: 0 1px 10px;
    z-index: 100;
}
/* mob-menu */
header .mobile-menu{
    display:none;
}
.container{
    padding-left:100px;
    position:relative;
    grid-template-columns:1fr 1fr;
    width:10%;
    align-items:center;
    top:20px;
    left:20px;
    
}
.header-links{
    position:relative;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    width:20%;
    left:1100px;
    bottom:7px;
    gap:100px;
}
/* menu */
.menu{
    align-items:center;
    justify-content:center;
    position:relative;
}    
.menu1{
    width:2%;
    position: relative;
    bottom: 32px;
    left:730px;
    cursor: pointer;
    display:none;
}   


.links{
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size:15px;
    text-decoration: none;
    font-weight: 600;
}

/* logo */
.light{
    position: relative;
    width:31px;
    height:35px;
}
.mont{
    color:white;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
/* responsive */
@media only screen and (max-width:1200px){
    .header-links .links {
        display: none;
    }
    .menu1{
        diplay:block;
    }
}
